<h1>Edit Driver Information</h1>
<form action="{% url 'ride:submitDriverEdition' %}" method = "post">
  {% csrf_token %}
    <label for = "firstName">First Name: </label>
    <input id = "firstName" type = "text" name = "firstName" value = "{{driver.firstName}}">
    <label for = "lastName">Last Name: </label>
    <input id = "lastName" type = "text" name = "lastName" value = "{{driver.lastName}}"><br>

    <label for = "driver_license">Your Driver License Number: </label>
    <input id = "driver_license" type = "text" name = "driver_license" value="{{driver.license}}"><br> 
    <label for = "vehicle_type">Your Vehicle Type: </label>
    <select id = "vehicle_type" name = "vehicle_type", value ="{{driver.}}">
      {% for type in driver.vehicle.TYPES %}
      {% if type.0 == driver.vehicle.type %}
      <option value = {{ type.0 }} selected>{{ type.1 }}</option>
      {% else %}
      <option value = {{ type.0 }}>{{ type.1 }}</option>
      {% endif %}
      {% endfor %}
    </select>
    <br>  
    <label for = "plate_number">Your Plate Number: </label>
    <input id = "plate_number" type = "text" name = "plate_number" value="{{driver.vehicle.plate_number}}"><br>
  
    <label for = "vehicle_capacity">Maximum Number of passengers: </label>
    <input id = "vehicle_capacity" type = "text" name = "vehicle_capacity" value="{{driver.vehicle.capacity}}"><br>
    <label for = "vehicle_specialInfo">Special Vehicle Information(Optional): </label>
    <input id = "vehicle_specialInfo" type = "text" name = "vehicle_specialInfo" value="{{driver.vehicle.specialInfo}}"><br>
    <input type = "submit" value="Edit" >
    </form>
  
