<form action="{% url 'ride:driverReg' %}" method = "post">
  {% csrf_token %}
  <label for = "vehicle_type">Your Vehicle Type: </label>
  <input id = "vehicle_type" type = "text" name = "vehicle_type"><br>

  <label for = "plate_number">Your Plate Number: </label>
  <input id = "plate_number" type = "text" name = "plate_number"><br>

  <label for = "vehicle_capacity">Maximum Number of passengers: </label>
  <input id = "vehicle_capacity" type = "text" name = "vehicle_capacity"><br>

  <label for = "driver_lisence">Your Driver Lisence Number: </label><br>
  <input id = "driver_lisence" type = "text" name = "driver_lisence"><br>
  
  <input type = "submit" value="Register" >
  </form>
