<form action="{% url 'ride:requestRide' %}" method = "post">
  {% csrf_token %}
  <label for = "destination_address">Your Destination: </label>
  <input id = "destination_address" type = "text" name = "destination_address"><br>

  <label for = "arrival_time">Your Arrival Time: </label>
  <input id = "arrival_datetime" type = "datetime-local" name = "arrival_datetime"><br>
  
  <label for = "passenger_number">How many passengers: </label>
  <input id = "passenger_number" type = "text" name = "passenger_number"><br>
  <label for = "vehicle_type">Vehicle Type(Optional): </label>
  <select id = "vehicle_type" name = "vehicle_type">
    <option value = "" selected >No Specific Requirements</option> 
    {% for type in vehicle_types %}
    <option value = {{ type.0 }}>{{ type.1 }}</option>
    {% endfor %}
  </select>
  <br>
  <label for = "optional">Any Additional Requirements(Optional): </label>
  <input id = "optional" type = "text" name = "optional"><br>
  
  <label for = "sharability">Sharability: </label>
  <input type = "radio" name = "sharability" value = True>Share!
  <input type = "radio" name = "sharability" value = False>Nope!<br><br>

  
  <input type = "submit" value="requestRide" >
  </form>
