<form action="{% url 'ride:requestRide' %}" method = "post">
  {% csrf_token %}
  <label for = "destination_address">Your Destination: </label>
  <input id = "destination_address" type = "text" name = "destination_address"><br>

  <label for = "arrival_time">Your Arrival Time: </label>
  <input id = "arrival_date" type = "date" name = "arrival_date">
  <input id = "arrival_time" type = "time" name = "arrival_time"><br>

  <label for = "passenger_number">How many passengers: </label>
  <input id = "passenger_number" type = "text" name = "passenger_number"><br>

  <label for = "sharability">Sharability: </label>
  <input type = "radio" name = "sharability" value = True>Share!
  <input type = "radio" name = "sharability" value = False>Nope!<br><br>

  
  <input type = "submit" value="requestRide" >
  </form>
