<h1>Share a Ride</h1>
<form action="{% url 'ride:matchRides' %}" method = "post">
  {% csrf_token %}
  <label for = "destination_address">Your Destination: </label>
  <input id = "destination_address" type = "text" name = "destination_address"><br>

  <label for = "arrival_datetime_start">Your Earliest Arrival Time: </label>
  <input id = "arrival_datetime_start" type = "datetime-local" name = "arrival_datetime_start"><br>
  <label for = "arrival_datetime_end">Your Latest Arrival Time: </label>
  <input id = "arrival_datetime_end" type = "datetime-local" name = "arrival_datetime_end"><br>

  
  <label for = "passenger_number">How many passengers: </label>
  <input id = "passenger_number" type = "text" name = "passenger_number"><br>

  
  <input type = "submit" value="find" >
  </form>
