{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h2>Hi {{ user.username }}!</h2>
<p><a href="{% url 'logout' %}">Log Out</a></p>
<hr>
<h3>What do you want to do?</h3>
<a href="{% url 'ride:requestInfo' %}">Request A Ride</a>
<br>
<a href="{% url 'ride:shareInfo' %}">Share A Ride</a>
<br>
<a href="{% url 'ride:selectRole' %}">View Rides</a>
<br>
<a href="{% url 'ride:driverInfo' %}">Register as a driver</a>
<br>
<a href="{% url 'ride:searchRides' %}">Search for rides</a>
<br>
<a href="{% url 'ride:editInfo' %}">Edit Information</a>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
<p>Don't have an account?</p>
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
